Repository Luke-zhang-04/Pill-aid: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --cache --max-warnings=0, clang-format -i, black

.lintstagedrc.yml:

"*.{js,ts,jsx,tsx,json,yml,yaml,html,md,css,scss,mustache}":
  - prettier --write
"services/client/src/{**/*,*}.{ts,js,tsx,jsx}":
  - eslint --fix --cache --max-warnings=0
"*.{c,ino,cpp}":
  - clang-format -i
"*.py":
  - black

post submission nav
  services/client/.eslintrc.js
  services/client/package.json
  services/client/src/pages/forms/index.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0

make firebase write more extensible
  services/client/.eslintrc.js
  services/client/src/firebase.ts
  services/client/src/pages/forms/index.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0

use cross-env for env
  package.json
  pnpm-lock.yaml
  services/client/package.json
Due: prettier --write

read database achieved
  pnpm-lock.yaml
  services/client/src/pages/drugview/index.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0

SHOW DATABASE STUFF
  services/client/src/pages/drugview/index.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0

add Dosage
  services/client/src/pages/drugview/index.tsx
  services/client/src/pages/forms/index.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0

ETHAN DO THE BACKEND
  services/client/src/pages/drugview/index.tsx
  services/client/src/pages/drugview/trash.png
Due: prettier --write, eslint --fix --cache --max-warnings=0

fix(forms): use UUID for document name to prevent duplicateds
  services/client/src/pages/forms/index.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0

feat: add database integration to Raspberry Pi
  .gitignore
  services/Raspberry-Pi/__main__.py
  services/Raspberry-Pi/admin-sdk.json.gpg
  services/Raspberry-Pi/config.example.json
  services/Raspberry-Pi/requirements.txt
  services/Raspberry-Pi/sender.py
Due: prettier --write, black

Delete working
  services/client/src/firebase.ts
  services/client/src/pages/drugview/index.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0

Medicine view working correctly
  services/client/src/pages/drugview/index.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0

added edit buttons v2
  services/client/src/pages/drugview/index.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0

wip for matthew
  services/client/src/pages/forms/index.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0

changed medType to dropdown
  services/client/src/pages/forms/index.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0

idk what's going on with the icon buttons but here's the commented out code anyway
  services/client/src/pages/drugview/index.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0

feat(arduino): add ringtone
  services/Arduino/Arduino.ino
Due: clang-format -i

feat(drugview): enhance table view
  services/client/src/index.scss
  services/client/src/pages/drugview/index.tsx
  services/client/src/pages/drugview/trash.png
Due: prettier --write, eslint --fix --cache --max-warnings=0

feat(form): add editing
  services/client/src/index.scss
  services/client/src/index.tsx
  services/client/src/pages/drugview/index.tsx
  services/client/src/pages/forms/index.tsx
  services/client/src/types/data.ts
  services/client/src/utils/date.ts
Due: prettier --write, eslint --fix --cache --max-warnings=0

add arch, circuit diagram
  README.md
  media/arch.jpg
  media/circuit.jpg
Due: prettier --write

feat: fix everything
  services/Arduino/Arduino.ino
  services/Raspberry-Pi/__main__.py
  services/client/src/pages/forms/index.tsx
Due: prettier --write, eslint --fix --cache --max-warnings=0, clang-format -i, black
